.postUploadContainer {
  max-width: 650px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  color: #333;
  background-color: #ccc;
}

.uploadHeading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  gap: 10px;
}

/* Input group for each field */
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.inputField,
.inputFieldDes {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.inputFieldDate {
  width: 45%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dateInputContainer {
  display: flex;
  align-items: center;
}

.dateSeparator {
  margin: 0 10px;
  font-weight: bold;
}

.inputField:focus,
.inputFieldDes:focus {
  border-color: #284b63;
  outline: none;
}

.inputFieldDes {
  resize: vertical;
}

.subBtn {
  padding: 12px;
  font-size: 16px;
  background-color: #3c6e71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subBtn:hover {
  background-color: #284b63;
}

.imageUploadBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadBtn {
  padding: 10px 20px;
  background-color: #3c6e71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.uploadBtn:hover {
  background-color: #284b63;
}

.imagePreviewContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.imagePreviewWrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.deleteBtnCreatePost {
  position: absolute;
  margin-top: 3px;
  right: 2px;
  background-color: rgba(217, 217, 217, 0.7); /* 80% opacity */
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
}

.deleteBtnCreatePost:hover {
  background-color: rgba(217, 217, 217, 0.9);
}

.addImageBtn {
  width: 100px;
  height: 100px;
  background-color: #3c6e71;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.addImageBtn:hover {
  background-color: #284b63;
}
