body {
  margin: 0;
  padding: 0;
  /* background-color: #353535; */
  background-color: #353535;
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Prevent repetition */
  height: 100vh;
  font-family: "Merriweather", serif;
}
