body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(
    45deg,
    #353535,
    #3c6e71,
    #284b63,
    #d9d9d9,
    #ffffff
  ); */

  /* background-color: #353535; */
  background-color: #353535;
  color: #ffffff;
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Prevent repetition */
  height: 100vh;
}
